body{
border: 20px solid #bdc3c7;
max-width: 700px;
width: 80%;
font-family: 'Source Sans Pro', sans-serif;
padding: 20px;
margin: 20px auto;
margin-top: 30px;
}

.date{
  color: #3498db;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h2{
  color: #2c3e50;
  text-decoration-style: solid;
}

.indented{
  border-left: 5px solid #bdc3c7;
}


p{

}
